<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ChainPellet.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="PMW2_ScriptEdit.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ChainPellet.Properties.Settings>
            <setting name="ScriptAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideHXF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideNXF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideAMF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTPL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideSF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideCCC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObjectsPath" serializeAs="String">
                <value />
            </setting>
            <setting name="ExtractPath" serializeAs="String">
                <value />
            </setting>
            <setting name="prevAssetFilter" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomColorList" serializeAs="String">
                <value />
            </setting>
            <setting name="RegenClumps" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="useBigEndian" serializeAs="String">
                <value>True</value>
            </setting>
        </ChainPellet.Properties.Settings>
        <PMW2_ScriptEdit.Properties.Settings>
            <setting name="ScriptAutoSave" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTXT" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideHXF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideNXF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideAMF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTPL" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideSF" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideCCC" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ObjectsPath" serializeAs="String">
                <value />
            </setting>
        </PMW2_ScriptEdit.Properties.Settings>
    </userSettings>
</configuration>